{% extends "orders/base_navbar.html" %}

{% block title %}
    Choose an Item
{% endblock %}

{% block body %}
<div class="row my-4">
        <div class="col">
            <h1 class="display-block text-center px-auto py-3">Select Menu Item:</h1>
        </div>
    </div>
{% for dish in dishes %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container-fluid">
                <table class="table m-0 p-0">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-9" scope="col">
                                <a class="list-unstyled" data-toggle="collapse" href="#collapseExtras{{ dish.id }}" aria-expanded="false" aria-controls="collapseExtras{{ dish.id }}">
                                    {{ dish.name }}
                                </a>
                            <th class="col-3" scope="col">
                                <button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#collapseExtras{{ dish.id }}" aria-expanded="false" aria-controls="collapseExtras{{ dish.id }}">
                                    Show Options
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="collapse" id="collapseExtras{{ dish.id }}">
                    <table class="table">
                        <tbody>

                            {% for item in dish.items.all %}
                            <tr class="d-flex"> 
                                <td class="col-1" scope="col">
                                </td>
                                <th class="col-3" scope="col">
                                    {{ item.name }}
                                </th>

                                {% if item.small_price %}
                                    <td class="col-3 text-danger">
                                        {{ item.print_small_price }} +
                                    </td>
                                {% else %}
                                    <td class="col-3 text-danger">{{ item.print_large_price }}</td>
                                {% endif %}

                                <td class="col-6" scope="col">
                                    <a class="btn btn-primary" href="/item_options/{{ item.id }}">
                                        Add to Order
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                </table>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
