{% extends "orders/base_navbar.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
{% for dish in dishes %}
    <div class="row my-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <h1 colspan="3" scope="col" class="text-center">{{ dish }}</h1>

                        {% if not dish.one_size %}
                        <tr class="d-flex">
                            <th class="col-6" scope="col"></th>
                            <th class="col-3" scope="col">Small</th>
                            <th class="col-3" scope="col">Large</th>
                        </tr>
                        {% endif %}

                    </thead>
                    <tbody>

                    {% for item in dish.items.all %}
                        <tr class="d-flex">
                            <th class="col-6" scope="col">
                                {{ item.name }}

                                {% if item.extras.all %}
                                <button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#collapseExtras{{ item.id }}" aria-expanded="false" aria-controls="collapseExtras{{ item.id }}">
                                        Show Item Extras
                                    </button>
                                {% endif %}

                            </th>
                            <td class="col-3" scope="col">

                            {% if item.small_price %}
                                {{ item.print_small_price }}
                            {% endif %}

                            </td>
                            <td class="col-3" scope="col">{{ item.print_large_price }}</td>
                        </tr>

                        {% if item.extras.all %}
                    </tbody>
                </table>
                <div class="collapse" id="collapseExtras{{ item.id }}">
                    <table class="table">
                        <tbody>
                            <tr class="d-flex"> 
                                <td class="col-9 font-weight-bold text-danger">
                                    {% for item in item.extras.all %}
                                        {{ item.name }} - 
                                    {% endfor %}
                                </td>
                                <td class="col-3">{{ item.dish.print_extra_price }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <table class="table">
                        <tbody>
                        {% endif %}

                    {% endfor %}

                    </tbody>
                </table>

                {% if dish.extras.all %}
                    <button class="btn btn-primary mx-auto d-flex mb-3" type="button" data-toggle="collapse" data-target="#collapseExtras{{ dish.id }}" aria-expanded="false" aria-controls="collapseExtras{{ dish.id }}">
                        Show Extras
                    </button>
                    <div class="collapse" id="collapseExtras{{ dish.id }}">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="font-weight-bold text-danger" colspan="2" scope="col">
                                        {% for extra in dish.extras.all %}
                                            {{ extra.name }} - 
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
