{% extends "orders/base.html" %}

{% block title %}
    Select size and extras    
{% endblock %}

{% block body %}

    <h1>{{ item.dish }} - {{ item.name }}</h1>

    <form action="/add_item" method="POST">
    {% csrf_token %}

    {% if item.small_price %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" value="small" name="size">
            <label class="form-check-label" for="inlineCheckbox1">Small</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="large" name="size">
            <label class="form-check-label" for="inlineCheckbox2">Large</label>
        </div>
    {% endif %}
    
    {% if item.extras_limit %}
        {% for i in extras_allowed %}

        <select class="form-check form-check-inline" name="extras">
            <option selected>-- Select a topping --</option>

        {% for extra in item.dish.extras.all %}

            <option value={{ extra.id }}>{{ extra.name }}</option>
        {% endfor %}
        </select>
    {% endfor %}
    
    {% else %}
        {% for extra in item.dish.extras.all %}

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ extra.id }}" value="{{ extra.id }}" name="extras">
            <label class="form-check-label" for="inlineCheckbox{{ extra.id }}">{{ extra.name }}</label>
        </div>

    {% endfor %}
    {% for extra in item.extras.all %}

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ extra.id }}" value="{{ extra.id }}" name="extras">
            <label class="form-check-label" for="inlineCheckbox{{ extra.id }}">{{ extra.name }}</label>
        </div>
    {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-primary" name="item_id" value="{{ item.id }}">Add item to order</button>
    </form>

{% endblock %}
