{% extends "orders/base_navbar.html" %}

{% block title %}
    Your Order
{% endblock %}

{% block body %}

    {% if not order.paid %}
        <div class="row">
            <div class="col text-centered">
                <a class="btn btn-primary" href="/choose_item">Add an Item yall</a>
            </div>
        </div>
    {% endif %}

    <div class="row">
    {% for item in order.items.all %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h3>{{ item.item.dish.name }}:</h3>
                    <h4 class="text-muted">{{ item.item.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% if item.small %}
                        <li class="list-group-item">Small</li>
                    {% endif %}
                    {% if not item.small and not item.item.dish.one_size %}
                        <li class="list-group-item">Large</li>
                    {% endif %}
                    {% if item.extras.first %}
                        <li class="list-group-item">
                            Extras: <ul>
                            {% for extra in item.extras.all %}
                                <li>{{ extra.name }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="list-group-item text-danger">Price: {{ item.print_price }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}

    </div>
    <h2 class="text-danger"><b>Total</b>{{ order.print_total }}</h2>

    {% if not order.paid %}
        <a class="btn btn-primary" href="/complete_order">Pay for dat shit</a>
    {% endif %}

    {% if order.paid %}
        <a class="btn btn-primary" href="/orders">back to yo orders bitch!!</a>
    {% endif %}

{% endblock %}

