{% extends "menu/base_navbar.html" %}

{% block title %}
    Your Orders
{% endblock %}

{% block body %}

    {% if pending_order %}
    <div class="row px-4">
        <div class="col">
            <h1 class="border-bottom display-block text-center px-auto py-3">Incomplete Orders:</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card my-2">
                <div class="card-header">
                    <h3>Order #{{ pending_order.id }}</h3>
                    <h5 class="text-muted">{{ pending_order.print_date }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Items {{ pending_order.items_total }}</li>
                    <li class="list-group-item">Total: <span class="text-danger">{{ pending_order.print_total }}</span></li>
                </ul>
                <div class="card-body text-center">
                    <a class="btn btn-primary" href="{% url "order" order_id=pending_order.id %}">Complete Order</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    {% else %}
    <div class="row px-4">
        <a class="btn btn-primary display-block mx-auto mt-4" href="{% url "new_order" %}">Place a New Order</a>
    </div>
    {% endif %}

    <div class="row px-4">
        <div class="col">
            <h1 class="border-bottom display-block text-center px-auto py-3">Historic Orders:</h1>
        </div>
    </div>
    <div class="row p-4">

        {% for order in historic_orders %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                <div class="card m-3">
                    <div class="card-header">
                        <h3>Order #{{ order.id }}</h3>
                        <h5 class="text-muted">{{ order.print_date }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Items {{ order.items_total }}</li>
                        <li class="list-group-item">Total: <span class="text-danger">{{ order.print_total }}</span></li>
                        
                        {% if order.complete %}
                            <li class="list-group-item">Complete</li>
                        {% else %}
                            <li class="list-group-item">Delivery Pending</li>
                        {% endif %}
                        
                    </ul>
                    <div class="card-body text-center">
                        <a class="btn btn-primary" href="{% url "order" order_id=order.id %}">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
